<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.units.placesapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icons"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_icons_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Placesapp">
        <activity android:name=".UploadReviewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UploadImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChangeInfoActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".MonumentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>